.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.input-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: hsl(220deg 20% 35% / 83%)
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555555cf;
}

.checkbox-container {
    display: flex;
    gap: 8px;
    font-size: 14px;
    margin: 10px 0;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px;
}

.submit-button:hover {
    background-color: #333;
}

.link-forgot-password {
    display: block;
    text-align: center;
    margin: 10px 0;
}

a {
    font-size: 14px;
    color: #007bff;
}

a:hover {
    color: #7bb8f9;
}

.divider {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #aaa;
}

.google-button,
.facebook-button {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20px;
    height: 20px;
    margin: 2px 5px 5px 5px;
}

.google-button:hover,
.facebook-button:hover {
    background-color: #f5f5f5;
}

.signin-text {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.error-message {
    margin: 2px;
    color: #ff0000eb;
    font-size: 14px;
}