.layout-container {
    display: flex;
    height: 111vh;
}

.layout-sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.layout-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.layout-menu {
    list-style-type: none;
    padding: 0;
}

.layout-menu li {
    margin: 15px 0;
}

.layout-menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.layout-menu a .icon {
    margin-right: 10px;
}

.layout-menu a:hover,
.layout-menu .active {
    background-color: #34495e;
}

.layout-main-content {
    flex-grow: 1;
    /* padding: 20px; */
    background-color: #ecf0f1;
}

/* Logout Button */
.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30vh;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }