.otp-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f7f9fc;
    align-items: center;
    background-image: url('../images/AI_screen.webp');
}

.otp-form {
    position: relative;
}

.otp-box {
    width: 400px;
    height: 190px;
    text-align: center;
    /* background: white; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
}

.enter-otp-box {
    width: 250px !important;
    padding: 10px !important;
    margin: 8px 0 !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.otp-verfication-heading {
    margin-bottom: 20px;
    color: white;
}

.otp-button {
    width: 50%;
    padding: 10px;
    background: #9A2767;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    transform: translateX(50%);
}

.otp-error.show {
    visibility: visible;
    color: red;
    position: absolute;
    margin-left: -136px;
}

.otp-error {
    visibility: hidden;
}

.otp-verfication-heading.success {
    color: green;
}

